.mce-container {
	ul.tinymce-outline {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			cursor: pointer;
			padding: 5px;
			overflow: hidden;
			text-overflow: ellipsis;

			&.is-visible {
				background: rgba(0, 0, 0, 0.05);
			}

			&:hover {
				background: rgba(0, 0, 0, 0.15);
			}

			&.tinymce-outline {
				&-h2 {
					padding-left: 15px;
				}

				&-h3 {
					padding-left: 25px;
				}

				&-h4 {
					padding-left: 35px;
				}

				&-h5 {
					padding-left: 45px;
				}
			}
		}
	}
}
